/* Global */

#displayMsg{
  text-align: center;
}
#form{
  position: fixed;
  text-align: right;
  left: 40px;
  border: 5px solid #424547;
  padding: 5px;
}
#feedback{
  position: fixed;
  left:50%;
  padding: 10px;
  border: 3px solid #424547;
  
}
#normIcons{
  position: fixed;
  left: 2px;
  top:1px;
}
#adminIcons{
  position: fixed;
  left:119px;
  top:10px;
}
#userPic{
  position: fixed;
  top:1%;
  right:1%;
  width: 60px;
  height: 60px;
  border-radius: 15px 15px 15px 15px;
}

body {
  background-color: gray;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  font-size: 150%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*text-align: center;*/
  background-size: 100%;
  /*background-image: url(sfBeach.gif);*/
}
h1 {
  font-family:"Times New Roman",Georgia,Serif;
  font-size: 30px;
  text-align: center;
}
h2 {
  position: fixed;
  font-size: 23px;
  text-align: right;
  font-weight: bold;
  top: 20px;
  right:9%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h3{
  font-size: 220px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

h3 {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
 font-size: 16px;
}

input {
  font-size: 24px;
}

input[type=text] {
  left: 10%;
  color: #424547;
  border: 2px solid #c2c2c2;
  background-color: white;
  width: 40px;
}

em {
  font-style: normal;
  font-weight: bold;
  color: white;
}

/* Chat */
#messagesDiv {
  background-color: white;
  overflow: auto;
  height: 230px;
  width: 100%;
  padding: 10px;
  border: 8px solid #424547;
  margin-bottom: 5px;
  text-align: left;
}

#nameInput {
  width: 26%;
}

#messageInput {
  width: 68%;
}

/* Drawing */

#colorholder {
  width: 480px;
  height: 30px;
  border: 2px solid #424547;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

#drawing-canvas {
  border: 3px solid #999
}

.colorbox {
  width: 22px;
  height: 22px;
  margin: 1px;
  display: inline-block;
  border: 3px solid black;
}

/* Leaderboard */

#chart
{
  position: relative;
  width: 1000px;
  height: 300px;
  overflow: auto;
  /*padding: 10px;*/
  border: 8px solid black;
  margin-bottom: 5px;
  right: 20%;
}

#scoreInput {
  width: 68%;
}

#highestscore {
  margin-top: 20px;
  font-size: 14px;
}

/* Presence */

#presenceDiv {
  text-align: center;
}

